[submodule "Underanalyzer"]
	path = Underanalyzer
	url = https://github.com/Genouka/Underanalyzer.git
[submodule "UndertaleModToolLocalization"]
	path = UndertaleModToolLocalization
	url = git@github.com:QiumingOrg/QiuUTMTv4.git
	branch = new-v5
